.app-layout {
  display: flex;
  height: 100vh;
  background-color: #0f0f0f;
  transition: padding-left 0.3s ease;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
  transition: margin-left 0.3s ease;
}

.app-layout.sidebar-collapsed .main-content {
  margin-left: 0;
}
